<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.vt.dr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/map_icon"
        android:label="@string/app_name"
        >
        
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>        
        </activity>
        
        
        <activity
            android:name=".mainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="edu.vt.dr.MAINACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="edu.vt.dr.MENUACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CircleMap"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="edu.vt.dr.CIRCLEMAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LShapeMap"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="edu.vt.dr.LSHAPEMAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StraightMap"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="edu.vt.dr.STRAIGHTMAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rawDataActivity"
            android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation"
      		android:screenOrientation="portrait"            
            >
            <intent-filter>
                <action android:name="edu.vt.dr.RAWDATAACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MovementActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name" 
            >
            <intent-filter>
                <action android:name="edu.vt.dr.MOVEMENTACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name=".ListVMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="edu.vt.dr.LISTVMENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Pam3010Map"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="edu.vt.dr.PAM3010MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AboutUs"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="edu.vt.dr.ABOUTUS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>     
        </activity>
           
        
       <activity 
           android:name="edu.vt.dr.testing.SelectionActivity" 
           android:label="@string/app_name"> 
           <intent-filter>
  			  <action android:name="edu.vt.dr.testing.SelectionActivity" /> 
              <category android:name="android.intent.category.DEFAULT" /> 
           </intent-filter>
       </activity>
       
       <activity 
           android:name="edu.vt.dr.testing.PedometerActivity" 
           android:label="@string/app_name">
           <intent-filter>
              <action android:name="edu.vt.dr.testing.PedometerActivity" /> 
              <category android:name="android.intent.category.DEFAULT" /> 
           </intent-filter>
        </activity>
        
        <activity 
            android:name="edu.vt.dr.testing.GLAndSensorsActivity" 
            android:label="@string/app_name">
-           <intent-filter>
               <action android:name="edu.vt.dr.testing.GLAndSensorsActivity" /> 
               <category android:name="android.intent.category.DEFAULT" /> 
            </intent-filter>
        </activity>
      
        
    </application>

</manifest>